{{define "bottom"}}
    </main>
    <footer>
        <ul>
            <li><a href="https://www.linkedin.com/in/tabriz-gulmammadov-bb876715a/">LinkedIn</a></li>
            <li><a href="https://github.com/tabrizgulmammadov">GitHub</a></li>
        </ul>
    </footer>
    </body>
    </html>
{{end}}